<!--
 * @Author: X105E
 * @Email: NOIR.APTX4869@gmail.com
 * @Date: 2019-01-21 09:37:04
 * @LastEditTime: 2019-01-28 11:27:23
 * @About: 
 -->
{% extends 'base.html' %}

{% block title %}My account{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb my-4">
  <li class="breadcrumb-item"><a href="{% url 'home' %}">主页</a></li>
  <li class="breadcrumb-item active">帐号信息</li>
</ol>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <form method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success">保存更改</button>
      </form>
    </div>
  </div>
{% endblock %}