<!--
 * @Author: X105E
 * @Email: NOIR.APTX4869@gmail.com
 * @Date: 2018-12-14 09:56:04
 * @LastEditTime: 2019-01-25 11:11:32
 * @About: 
 -->
{% extends 'base.html' %}

{% block title %}更改密码成功{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb my-4">
  <li class="breadcrumb-item"><a href="{% url 'password_change' %}">更改密码</a></li>
  <li class="breadcrumb-item active">成功</li>
</ol>
{% endblock %}

{% block content %}
  <div class="alert alert-success" role="alert">
    <strong>成功!</strong> 你的密码成功更改!
  </div>
  <a href="{% url 'home' %}" class="btn btn-secondary">返回主页</a>
{% endblock %}