<!--
 * @Author: X105E
 * @Email: NOIR.APTX4869@gmail.com
 * @Date: 2018-12-14 09:56:04
 * @LastEditTime: 2019-01-25 11:11:42
 * @About: 
 -->
{% extends 'base.html' %}

{% block title %}更改密码{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb my-4">
  <li class="breadcrumb-item active">更改密码</li>
</ol>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success">更改密码</button>
      </form>
    </div>
  </div>
{% endblock %}